services:
    gateway:
        build: ./gateway
        ports:
            - "8080:80"
        depends_on:
            - guardrail
            - response-filter
        networks:
            - sentient-network
    guardrail:
        build: ./guardrail
        command: uv run uvicorn main:app --reload --workers 1 --host 0.0.0.0 --port 5000
        ports:
            - "5000:5000"
        env_file:
            - ./guardrail/.env
        depends_on:
            - test-app
            - cache
        networks:
            - sentient-network
        develop:
            watch:
                - action: sync
                  path: ./guardrail/
                  target: /app
                - action: rebuild
                  path: ./guardrail/pyproject.toml
    guardrailv2:
        build: ./guardrailv2
        command: uv run uvicorn main:app --reload --workers 1 --host 0.0.0.0 --port 5001
        ports:
            - "5001:5001"
        depends_on:
            - cache
        networks:
            - sentient-network
        volumes:
            - guardrailv2_cache:/app/.cache
        develop:
            watch:
                - action: sync
                  path: ./guardrailv2/
                  target: /app
                - action: rebuild
                  path: ./guardrailv2/pyproject.toml
    test-app:
        build: ./test-app
        networks:
            - sentient-network
        depends_on:
            - database
            - cache
            - guardrailv2
        develop:
            watch:
                - action: sync
                  path: ./test-app
                  target: /app
                - action: rebuild
                  path: ./test-app/pyproject.toml
    database:
        build: ./database
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - sentient-network
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
    response-filter:
        build: ./response-filter
        command: uv run uvicorn main:app --reload --workers 1 --host 0.0.0.0 --port 5002
        ports:
            - "5002:5002"
        depends_on:
            - cache
        networks:
            - sentient-network
        develop:
            watch:
                - action: sync
                  path: ./response-filter/
                  target: /app
                - action: rebuild
                  path: ./response-filter/pyproject.toml
    cache:
        image: redis:8-alpine
        ports:
            - "6379:6379"
        networks:
            - sentient-network
volumes:
    db_data:
    guardrailv2_cache:


networks:
    sentient-network:
        driver: bridge
